<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      .col-1 {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .col-2 {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        flex: 2;
      }
      @media screen and (max-width: 42em){
          .col-1 {
              display: none;
          }
      }
    </style>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      <a href="/aeond-options" class="btn">aeond Options</a>
      <a href="/aeond-commands" class="btn">aeond Commands</a><br>
      <a href="/aeon-wallet-cli-options" class="btn">aeon-wallet-cli Options</a>
      <a href="/aeon-wallet-cli-commands" class="btn">aeon-wallet-cli Commands</a><br>
      <a href="/aeon-wallet-rpc-options" class="btn">aeon-wallet-rpc Options</a>
      <a href="/aeon-wallet-rpc-commands" class="btn">aeon-wallet-rpc Commands</a><br>
    </header>
    <main id="content" class="main-content" role="main" style="display:flex;font-size:1rem;max-width: 100%;">
      <div class="col-1">{% include toc.html html=content %}</div>
      <div class="col-2">{{ content }}</div> 
      <div class="col-1"></div>
    </main>
  </body>
</html>
